USE [master]
GO
/****** Object:  Database [Consorcio]    Script Date: 20/10/2025 23:06:15 ******/
CREATE DATABASE [Consorcio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Consorcio', FILENAME = N'F:\SQLServerDeveloper\MSSQL16.MSSQLSERVER\MSSQL\DATA\Consorcio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Consorcio_log', FILENAME = N'F:\SQLServerDeveloper\MSSQL16.MSSQLSERVER\MSSQL\DATA\Consorcio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Consorcio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Consorcio]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 20/10/2025 23:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[nroLote] [int] NOT NULL,
	[nombreProp] [nvarchar](50) NOT NULL,
	[medidaFrente] [float] NOT NULL,
	[medidaFondo] [float] NOT NULL,
	[totalMts2] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 20/10/2025 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[nroPago] [int] NOT NULL,
	[nroLote] [int] NOT NULL,
	[idUbicacion] [int] NOT NULL,
	[totalMts2] [float] NOT NULL,
	[precioMt2] [float] NOT NULL,
	[total] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 20/10/2025 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[idUbicacion] [int] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[valorMt2] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[crearLote]    Script Date: 20/10/2025 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crearLote]
    @nombreProp NVARCHAR(50),
    @medidaFrente FLOAT,
    @medidaFondo FLOAT,
    @totalMts2 FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoNroLote INT;
    
    SELECT @nuevoNroLote = ISNULL(MAX(nroLote), 0) + 1
    FROM [dbo].[Lote];

    INSERT INTO [dbo].[Lote] (
        nroLote,
        nombreProp,
        medidaFrente,
        medidaFondo,
        totalMts2
    )
    VALUES (
        @nuevoNroLote,
        @nombreProp,
        @medidaFrente,
        @medidaFondo,
        @totalMts2
    );

    SELECT @nuevoNroLote AS NuevoNroLote;
END
GO
/****** Object:  StoredProcedure [dbo].[crearPago]    Script Date: 20/10/2025 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crearPago]
	@nroLote int,
	@idUbicacion int,
	@totalMts2 float,
	@precioMts2 float,
    @total FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoNroPago INT;
    
    SELECT @nuevoNroPago = ISNULL(MAX(nroPago), 0) + 1
    FROM [dbo].[Pago];

    INSERT INTO [dbo].[Pago] (
        nroPago,
		nroLote,
		idUbicacion,
		totalMts2,
		precioMt2,
		total
    )
    VALUES (
		@nuevoNroPago,
		@nroLote ,
		@idUbicacion ,
		@totalMts2 ,
		@precioMts2 ,
		@total
    );

END
GO
/****** Object:  StoredProcedure [dbo].[crearUbicacion]    Script Date: 20/10/2025 23:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crearUbicacion]
    @descripcion NVARCHAR(50),
    @valorMts2 FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoIdUbicacion INT;
    
    SELECT @nuevoIdUbicacion = ISNULL(MAX(idUbicacion), 0) + 1
    FROM [dbo].[Ubicacion];

    INSERT INTO [dbo].[Ubicacion] (
        idUbicacion,
		descripcion,
		valorMt2
    )
    VALUES (
		@nuevoIdUbicacion,
        @descripcion,
		@valorMts2
    );

END
GO
USE [master]
GO
